@import "tailwindcss";

:root {
  --background: #002029;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-port-dark: #002029;
  --color-port-card: #004052;
  --color-port-border: #005066;
  --color-port-accent: #e0f2fe;
  --color-port-highlight: #7dd3fc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3 {
  font-family: var(--font-mono);
}
